POSTGRES_URL=jdbc:postgresql://apuopere-database:5432/apuope_db
POSTGRES_USER=apuope_user
POSTGRES_PASSWORD=apuope_password

APP_URL_DEV=http://localhost:3000/

SPRING_DATASOURCE_URL=jdbc:postgresql://apuopere-database:5432/apuope_db
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

LLM_API_URL=
LLM_API_KEY=